html {
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
}

body {
    min-height: 100vh;
    color: white;
    background-color: black;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.17em;
}

h4 {
    font-size: 1.12em;
}

h5 {
    font-size: .83em;
}

h6 {
    font-size: .75em;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto auto auto 1fr;
    grid-template-areas:
    "heading navigation"
    "name name"
    "pic pic"
    "survey survey"
    "submission submission"
    "footer footer";
    justify-items:center;
}

#splash-heading {
    grid-area: heading;
    justify-self: start;
    font-size: 2em;
    padding: .5em .5em .5em .5em;
}

#navigation {
    grid-area: navigation;
    justify-self: center;
    align-self: center;
    font-size: 1em;
    white-space: nowrap;
}

#navigation li {
    display: inline-block;
    text-decoration: none;
}

#navigation li:nth-child(2){
    padding-right: 1em;
    padding-left: 1em;
}

#navigation li a:link,
#navigation li a:active,
#navigation li a:visited{
    text-decoration: none;
    color: white;
}

#navigation li a:hover{
    color:grey;
}

#name{
    grid-area:name;
    padding: .75em;
    font-size: 1.25em;
    justify-self: start;
}

#pic{
    grid-area:pic;
    padding: .75em;
    font-size: 1.25em;
    justify-self: start;
}

#name label, 
#pic label{
    padding-right: 1em;
}

#nameFld, #picFld{
    background-color: black;
    border: 0;
    border-bottom: 2px;
    border-style: solid;
    border-color: white;
    color: white;
    font-size: 1em;
    opacity: .35;
}

#nameFld:focus,
#picFld:focus {
    opacity: 1;
}

#survey{
    grid-area:survey;
}

.answer{
    padding: .5em;
}

.likert li{
    display: inline-block;
}

#submission-button {
    grid-area: submission;
    align-self: start;
    font-size: 1.25em;
    padding: .75em;
    border-width: .2em;
    border-style: solid;
    border-color: white;
    border-radius: 1em;
    margin:1em;
}

#submission-button:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}

#footer {
    grid-area: footer;
    align-self: end;
    font-size: .75em;
    text-align: center;
    white-space: nowrap;
}

#open-modal{
    display: none;
}

@media only screen and (min-width: 1366px){
    .grid-container{
        grid-template-columns:auto 1fr;
        grid-template-rows: 1fr auto auto auto 1fr auto;
        grid-template-areas:
        "heading ."
        "navigation survey"
        "name survey"
        "pic survey"
        ". submission"
        "footer footer";
    }

    #splash-heading{
        justify-self: center;
        align-self: center;
    }

    #navigation{
        font-size: 1.25em;
        padding: 0;
        align-self: center;
    }

    #survey{
        font-size: 1.25em;
    }

    .answer{
        padding: 1em;
    }

    #name, #pic{
        justify-self:start;
        align-self:start;
    }

    #footer{
        padding:0;
        font-size: 1em;
        align-self: end;
    }
}